<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="../styles/default.css">
</head>
<body>
    <main>
        <div class="login-container">
            <!-- Logo -->
            <img src="../assets/discordia.logo.png" alt="Logo de la aplicación" class="logo">
            
            <!-- Formulario de inicio de sesión -->
            <form action="" id="login-form" class="login-form">
                <fieldset>
                    <legend>Iniciar Sesión</legend>
                    <div class="input-container user">
                        <label for="email">Nombre de Usuario:</label>
                        <input type="text" id="email" name="email" required>
                    </div>
                    <div class="input-container">
                        <label for="password">Contraseña:</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                </fieldset>
                <button type="submit">Iniciar Sesión</button>
            </form>

            <div class="extra-space"></div>    
                
            <!-- Enlace para registrarse -->
            <p class="register-link">¿No tienes una cuenta? <a href="signup.html">Registrarse</a></p>
        </div>
    </main>

    <script src="../scripts/login.js"></script>
</body>
</html>
